/* Reset CSS */
html {
  color: #000;
  background: #FFF;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
li {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before, q:after {
  content: '';
}
abbr, acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input, textarea, select {
  *font-size: 100%;
}
legend {
  color: #000;
}
/* Fonts */
/* Less Classes */
.sprite {
  background: url(../image/sprite.png) no-repeat;
}
/* Classes */
.absolute {
  display: block;
  position: absolute;
}
.caps {
  text-transform: uppercase;
}
.center {
  margin: 0 auto;
}
.font {
  font-family: "Kreon", Arial, sans-serif;
}
.grey {
  color: #999999;
}
.hide {
  display: none;
  visibility: hidden;
}
.italic {
  font-style: italic;
}
.left {
  display: block;
  float: left;
}
.noselect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.relative {
  display: block;
  position: relative;
}
.right {
  display: block;
  float: right;
}
.padding {
  padding: 10px;
}
/* Structure Classes */
.dialog .dialog_text {
  display: block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  behavior: url(/assets/css/ie-css3.htc);
  /* Download from: http://fetchak.com/ie-css3/ */

  padding: 10px;
  background: #555555;
  background: -moz-linear-gradient(top, #555555, #000000);
  background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#000000));
  background: -webkit-linear-gradient(#555555, #000000);
  background: linear-gradient(#555555, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= #555555 , EndColorStr= #000000 );
  color: #ffffff;
  -webkit-box-shadow: 0 0 5px #000000;
  -moz-box-shadow: 0 0 5px #000000;
  box-shadow: 0 0 5px #000000;
  behavior: url(/assets/css/ie-css3.htc);
  /* Download from: http://fetchak.com/ie-css3/ */

}
.dialog .dialog_arrow {
  display: block;
  position: relative;
  margin: 0 auto;
  background: url(../image/sprite.png) no-repeat;
  background-position: -33px -351px;
  width: 16px;
  height: 8px;
}
/* Tags */
body, html {
  margin: 0;
  padding: 0;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff, #cccccc);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
  background: -webkit-linear-gradient(#ffffff, #cccccc);
  background: linear-gradient(#ffffff, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= #ffffff , EndColorStr= #cccccc );
  width: 100%;
  height: 100%;
}
a,
body,
div,
h1,
h2,
h3,
p {
  font-family: Arial, sans-serif;
  color: #333333;
  font-size: 9pt;
  line-height: 13pt;
}
a {
  font-size: 9pt;
  line-height: normal;
}
a:link, a:visited {
  color: #666666;
  border-bottom: 1px solid #666666;
  text-decoration: none;
}
a:hover, a:active {
  color: #0C56EF;
  border-bottom: 1px solid #0C56EF;
  text-decoration: none;
}
em {
  color: #999999;
}
h1,
h2,
h3,
.h3 {
  font-family: "Kreon", Arial, sans-serif;
  line-height: normal;
}
h1 {
  font-size: 22pt;
}
h2 {
  font-size: 18pt;
}
h3, .h3 {
  font-size: 16pt;
}
input, textarea {
  border: 2px solid #c88d35;
  padding: 5px 4px;
  font-size: 10pt;
  color: #666666;
  font-weight: bold;
}
h1,
h2,
h3,
p {
  margin: 10px 0;
}
h1:first-child,
h2:first-child,
h3:first-child,
p:first-child {
  margin-top: 0;
}
/* Structure */
#container header {
  display: block;
  position: relative;
  width: auto;
  padding: 10px;
  background: #0080ff;
  background: -moz-linear-gradient(top, #0080ff, #0c56ef);
  background: -webkit-gradient(linear, left top, left bottom, from(#0080ff), to(#0c56ef));
  background: -webkit-linear-gradient(#0080ff, #0c56ef);
  background: linear-gradient(#0080ff, #0c56ef);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= #0080ff , EndColorStr= #0c56ef );
}
#container h1, #container h2 {
  color: #ffffff;
  text-shadow: 1px 1px 0px #000000;
  filter: Shadow(Color= #000000 , Direction= 1px , Strength= 0px );
  margin: 0;
}
#container h2 {
  font-size: 12pt;
}
#container #unauthed {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 50%;
  min-width: 600px;
  text-align: center;
  padding: 5% 0;
}
#container #unauthed h1, #container #unauthed h2 {
  font-size: 30pt;
  margin-bottom: 15px;
}
#container #unauthed h2 {
  font-size: 20pt;
  line-height: 24pt;
}
#container #unauthed h1, #container #unauthed h2, #container #unauthed h3 {
  color: #0C56EF;
  text-shadow: 1px 1px 0px #ffffff;
  filter: Shadow(Color= #ffffff , Direction= 1px , Strength= 0px );
}
#container #unauthed p {
  text-shadow: 1px 1px 0px #ffffff;
  filter: Shadow(Color= #ffffff , Direction= 1px , Strength= 0px );
}
#container #unauthed button {
  padding: 15px 20px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  behavior: url(/assets/css/ie-css3.htc);
  /* Download from: http://fetchak.com/ie-css3/ */

  background: #0080ff;
  background: -moz-linear-gradient(top, #0080ff, #0c56ef);
  background: -webkit-gradient(linear, left top, left bottom, from(#0080ff), to(#0c56ef));
  background: -webkit-linear-gradient(#0080ff, #0c56ef);
  background: linear-gradient(#0080ff, #0c56ef);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= #0080ff , EndColorStr= #0c56ef );
  border: none;
  cursor: pointer;
  font-size: 14pt;
  font-family: "Kreon", Arial, sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px 0px #000000;
  filter: Shadow(Color= #000000 , Direction= 1px , Strength= 0px );
}
#container #unauthed button:hover {
  background: #0c56ef;
  background: -moz-linear-gradient(top, #0c56ef, 80 FF);
  background: -webkit-gradient(linear, left top, left bottom, from(#0c56ef), to(80 FF));
  background: -webkit-linear-gradient(#0c56ef, 80 FF);
  background: linear-gradient(#0c56ef, 80 FF);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= #0c56ef , EndColorStr= 80 FF );
}
#container #unauthed hr {
  margin: 20px -100px;
  height: 1px;
  border: none;
  background: #999999;
}
#container #favs {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  background: #ffffff;
}
#container #favs article {
  display: block;
  position: relative;
  padding: 15px 15px 10px;
  border-top: 1px solid #aaaaaa;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
  background: -webkit-linear-gradient(#ffffff, #eeeeee);
  background: linear-gradient(#ffffff, #eeeeee);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= #ffffff , EndColorStr= #eeeeee );
}
#container #favs article span.right, #container #favs article span.left {
  font-family: "Kreon", Arial, sans-serif;
  line-height: normal;
  font-size: 16pt;
  padding: 2px 6px 0 6px;
  margin-top: -10px;
  color: #ffffff;
  background: #0080ff;
  background: -moz-linear-gradient(top, #0080ff, #0c56ef);
  background: -webkit-gradient(linear, left top, left bottom, from(#0080ff), to(#0c56ef));
  background: -webkit-linear-gradient(#0080ff, #0c56ef);
  background: linear-gradient(#0080ff, #0c56ef);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= #0080ff , EndColorStr= #0c56ef );
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  behavior: url(/assets/css/ie-css3.htc);
  /* Download from: http://fetchak.com/ie-css3/ */

  cursor: pointer;
}
#container #favs article span.right:hover, #container #favs article span.left:hover {
  background: #333333;
  background: -moz-linear-gradient(top, #333333, #000000);
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#000000));
  background: -webkit-linear-gradient(#333333, #000000);
  background: linear-gradient(#333333, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= #333333 , EndColorStr= #000000 );
}
#container #favs article h3 {
  margin: 0;
  cursor: pointer;
}
#container #favs article h3 a {
  font-family: "Kreon", Arial, sans-serif;
  line-height: normal;
  font-size: 16pt;
}
#container #favs article ul {
  display: none;
  visibility: hidden;
}
#container #favs article iframe {
  display: block;
  position: relative;
  margin-top: 20px !important;
  width: 100%;
  min-height: 200px;
  border: 1px solid #cccccc;
  background: url(../image/ajax-loader.gif) no-repeat center center #ffffff;
  overflow: auto !important;
}
#container #favs article iframe.loaded {
  background: #ffffff;
}
#container #favs article .controls {
  display: block;
  position: absolute;
  top: 50%;
  border: 5px solid #f8f8f8;
  left: 0;
}
#container #favs article .controls.right {
  right: 0;
  left: auto;
}
#container #favs article:hover, #container #favs article:target {
  background: #eeeeee;
  background: -moz-linear-gradient(top, #eeeeee, #ffffff);
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#ffffff));
  background: -webkit-linear-gradient(#eeeeee, #ffffff);
  background: linear-gradient(#eeeeee, #ffffff);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= #eeeeee , EndColorStr= #ffffff );
}
#container #favs article:hover span.right:first-child, #container #favs article:target span.right:first-child {
  background: #333333;
  background: -moz-linear-gradient(top, #333333, #000000);
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#000000));
  background: -webkit-linear-gradient(#333333, #000000);
  background: linear-gradient(#333333, #000000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= #333333 , EndColorStr= #000000 );
}
#container #favs article:target {
  background: #f8f8f8;
}
#loader {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../image/ajax-loader.gif) no-repeat center center #ffffff;
}
/* Browser specific */
.ff #container #favs article {
  padding: 10px;
}
.ff #container #favs article span.right, .ff #container #favs article span.left {
  padding: 5px 4px 0 6px;
  margin-top: -3px;
}
.ff #container #favs article span.left {
  padding: 5px 6px 0 4px;
}
